* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #1f1f1f;
}

h1,
h2,
h3 {
    line-height: 1.4;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.15;
}

img {
    width: 100%;
}

a {
    color: #001aaf;
    text-decoration: underline;
}

a:visited {
    /* visited link */
    color: #1c1947;
}

a:hover {
    color: #0023eb;
    text-decoration: underline;
}

a:active {
    /* selected link */
    color: #1900ff;
}

.button {
    display: inline-block;
    background-color: #ddd7ff;
    color: #5739ff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    color: #5739ff;
    border: 1px solid #3e2ab4;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.6;
    text-decoration: none;
}

.button:active {
    opacity: 0.7;
}

header {
    background-color: #e5e2f7;
    padding: 5px;
    border: 0px solid #ffffff;
    border-bottom: 1.5px solid #3e2ab4;
    width: 100%;
    position: fixed;
    box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.5);
    display: inline-block;
    z-index: 1;
}

.logo {
    text-align: center;
    padding: 20px 0 0 0;
    max-width: 150px;
    display: inline-block;
}

.logo svg, .logo a {
    width: 100%;
    display: block;
}

@keyframes sprout-wiggle{
    from{transform: rotate(-2deg);}
    to{transform: rotate(2deg);}
}
.sprout{
    animation: sprout-wiggle 1s infinite alternate ease-in-out;
    transform-origin: center;
}

/* nav {
    display: inline-block;
    width: 100%;
    padding: 20px 20px 10px 0;
} */

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #1f1f1f;
}

nav>ul>li>a:visited {
    color: #1c1947;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
  text-align: center;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: .05px solid #3e2ab4;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 15px;
  top: 140px;
  width: 50px;
  font-size: 20px;
}

main {
    padding-top: 214px;
}

#contact>ul {
    list-style-type: none;
    padding: 0;
}

#contact>ul>li {
    display: inline-block;
}

#contact>ul>li>a {
    padding: 0 15px;
}

#contact>ul>li img{
    width: 30px;
    display: inline-block;
}


/*specific layout styling*/

.container {
    border: 10px solid white;
    padding: 10px;
}

.center {
    text-align: center;
}

#hero {
    background-color: #e5e2f7;
    padding: 25px;
    border: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
    display: inline-block;
    width: 100%;
}

#hero h1 {
    text-align: center;
    margin: 0;
}

#hero span {
    display: block;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icons {
    width: 150px;
    max-width: 300px;
    height: auto;
}

[class*="col-"] {
    float: left;
    margin-bottom: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    text-align: center;
    text-align: -moz-center;
}


/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding-left: 20px;
    }
    nav {
        width: auto;
        float: right;
        border-right: 15px solid #e5e2f7;
    }
    nav > ul {
      margin: 2em 0;
    }
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }

    .navtoggle li:last-child {
     display: none;
    
    }
    .col-mid-6 {
        width: 50%;
        padding: 10px;
        border: 10px solid white;
    }
    #skills>ul {
        column-width: 0px;
        column-count: 3;
        column-gap: 20px;
        border: 10px solid white;
    }
    .logo {
        float: left;
        padding-bottom: 20px;
    }
    main {
        padding-top: 200px;
    }
}


/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {
    .col-lg-5 {
        width: 41.66%;
        padding: 10px;
        border: 10px solid white;
    }
    .col-lg-7 {
        width: 58.33%;
        padding: 10px;
        border: 10px solid white;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ==============================
X-large devices (1440px or larger)
================================= */

@media only screen and (min-width: 1440px) {}