/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #1f1f1f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #001aaf;
  text-decoration: bold underline; 
}

a:visited { /* visited link */
  color: #1c1947;
}

a:hover {
  color: #0023eb;
  text-decoration: underline; 
}

a:active { /* selected link */
  color: #1900ff;
}

.button {
  display: inline-block; 
  background-color: #ddd7ff;
  color: #5739ff; 
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  color: #5739ff; 
  border-bottom: 3px solid #3e2ab4; 
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.6;
  text-decoration: none;
}

.button:active {
  opacity: 0.7;
}

header {
  background-color: #e5e2f7;
  padding: 0px;
  border: 10px solid #ffffff;
  border-bottom: 0px solid #3e2ab4;
  text-align: center;
  width: 100%;
  position: fixed;
  box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.5);
  display: inline-block;
  z-index: 1;
}
nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a{
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #1f1f1f;
}

nav > ul > li > a:visited{
  color: #1c1947;
}

main {
  padding-top: 313px;
}

#contact > ul {
  list-style-type: none;
  padding: 0;
}

#contact > ul > li {
  display: inline-block;
}

#contact > ul > li > a{
  padding: 0 15px;
}

/*specific layout styling*/

.container {
  border: 10px solid white;
  padding: 10px;
}

.logo {
  max-width: 150px;
  text-align: center;
  padding: 0;
}

.center {
  text-align: center;
}

#projects .row {
  margin: 25px 0;
}

#hero{
  background-color: #e5e2f7;
  padding: 10px;
  border: 10px solid #ffffff;
  border-top: 0px solid #ffffff;
  display: inline-block;
  width: 100%;

}
#hero h1{
  text-align: center;
  margin: 0;

}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icons {
  width: 150px;
  max-width: 300px;
  height: auto;
}